body {
    height:200%; 
    width:100%;
    background-color: #ffffff; /* Cor cinza claro */
    scroll-behavior: smooth;
}

main {
    padding-top: 0%;
}

/* Estilo do contêiner principal */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 20vh;
    background-color: white;
    display: flex;           /* Transformar em um flex container */
    flex-direction: row;  /* Direção da coluna, para empilhar o título e o menu */
    align-items: center;     /* Alinhar itens ao centro */
    justify-content: space-between; /* Centralizar verticalmente */
    text-align: center;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#siteTitle {
    font-family: 'Press Start 2P', monospace; /* Fonte Pixel */
    font-size: 3rem;
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /*white-space: nowrap;  /* Impede que o texto quebre em várias linhas */
    animation: move-left-right 5s linear infinite alternate;  /* Aplica a animação */
}

/* Estilo dos links de navegação no header */
header a {
    color: black;
    text-decoration: none;
    font-family: 'Inverse Mono', monospace;
    font-size: 2rem; /* Ajusta para comportamento de bloco */
    padding-right: 10px;
}

header a:hover {
    text-decoration: underline;
    color:rgb(250, 86, 250)
}

    /* Definindo a animação de mover para a esquerda e para a direita */
    @keyframes move-left-right {
      0% {
        transform: translateX(0%); /* Começa fora da tela à esquerda */
      }
      50% {
        transform: translateX(10%); /* Vai para fora da tela à direita */
      }
      100% {
        transform: translateX(-10%); /* Volta para fora da tela à esquerda */
      }
    }
    @keyframes move-rightleft- {
        0% {
          transform: translateX(100%); /* Começa fora da tela à direita */
        }
        50% {
          transform: translateX(10%); /* Vai para fora da tela à direita */
        }
        100% {
          transform: translateX(-10%); /* Volta para fora da tela à esquerda */
        }
      }

      .container {
        height: 85vh;
        display: flex;
        gap: 20px;
        padding-top: 15vh;
        justify-content: space-between;
        align-items: center;
        padding-left: 40vh;
        padding-right: 40vh;
      }
  
      .image-container {
        position: relative;
        width: 150px;
        height: 180px;
        perspective: 1000px;
      }
  
      .image-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: transform 0.6s ease-in-out;
      }
  
      .image-wrapper img, .image-wrapper .text {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
      }
  
      .image-wrapper img {
        display: block;
      }
  
      .image-wrapper .text {
        background-color: white;
        font-family: 'Press Start 2P', monospace;
        color: rgb(250, 86, 250);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        transform: rotateY(180deg);
        padding: 10px 10px;
        text-align: center;
      }
  
      .image-container:hover .image-wrapper {
        transform: rotateY(180deg);
      }

/* Para navegadores que não suportam ::-webkit-scrollbar */
html {
    scrollbar-width: none; /* Oculta a barra de rolagem no Firefox */
    scroll-behavior: smooth;
}

#space{
    height: 23vh;
}
.map{
    height: 77vh;
}
#googleMap{
    width:100%;
    height:100%;
}

#title-1{
    font-family: Trattatello;
    font-size: 40px;
    text-align: center;
}

#title-2{
    font-family: Trattatello;
    font-size: 35px;
    text-align: center;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilo do título */
h1 {
    font-size: 3em;
    margin: 0;
}

/* Estilo do texto explicativo */
.description {
    font-size: 1.2em;
    margin-top: 10px;
    color: #555;
}

/* Criando a "sticky" header */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

/* Simulação de conteúdo abaixo */
footer {
    display: flex;
    flex-direction: column;
    height: 85vh;
    padding-top: 15vh;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 0 300px; /* Ajoute de l'espace autour du texte */
}
.box1 {
  font-family: 'Press Start 2P', monospace;
  font-size: 1.0em;
  text-align: center;
  line-height: 1.5;
  color: #333;
  padding: 10px;
  border-width: 6px;
  border-style: dashed;
  border-color: #000;
  animation: rotacionar 3s ease-in-out infinite;
}
@keyframes rotacionar {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); } /* Inclina para um lado */
  75% { transform: rotate(-10deg); }
}
.box1:hover {
  color: rgb(250, 86, 250);
  border-style: dotted;
  border-color: rgb(250, 86, 250);
}
.moving-text {
    animation: moveText 17s linear infinite;
    font-size: 60px;
}